<footer class="site-footer">

  <section class="footer-col">
    <span>{{ site.author | escape }}</span>
  </section>

  <section class="footer-col text-centered">
    <span><a href="mailto:{{ site.email }}">{{ site.email }}</a></span>
  </section>

  <section class="footer-col text-centered">
    {% if site.github_username %}
    <span>
      {% include icon-github.html username=site.github_username %}
    </span>
    {% endif %}
  </section>

  <section class="footer-col text-right">
    {% if site.so_username %}
    <span>
      {% include icon-so.html username=site.so_username %}
    </span>
    {% endif %}
  </section>

</footer>
