<footer class="site-footer">

  <section class="footer-col">
    <span><a href="mailto:{{ site.email }}">{{ site.email }}</a></span>
  </section>

  <section class="footer-col">
    {% if site.github_username %}
    <span>
      {% include icon-github.html username=site.github_username %}
    </span>
    {% endif %}
  </section>

  <section class="footer-col">
    {% if site.so_username %}
    <span>
      {% include icon-so.html username=site.so_username %}
    </span>
    {% endif %}
  </section>

  <section class="footer-col">
    <span class="rss-subscribe">
      subscribe
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
        via RSS
        <i class="fa fa-rss" aria-hidden="true"></i>
      </a>
    </span>
  </section>

</footer>
