<header class="navigation navbar" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="/images/terminal-icon.svg" alt="Terminal Icon">
      <span class="logo-text"><h4>The Code Less Traveled</h4></span>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/projects">Projects</a></li>
        <li class="nav-link"><a href="/blog">Blog</a></li>
        <li class="nav-link"><a href="/about">About</a></li>
      </ul>
    </nav>
  </div>
</header>
<script type="text/javascript" src="/js/header.js"></script>
