@import url('https://fonts.googleapis.com/css?family=Lobster|Ubuntu+Mono');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Ubuntu Mono', monospace;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#header {
}

#content {
  @include outer-container();
  padding: 0 1em calc(#{$footer-height} + 2em);
}

#footer {
  position: absolute;
  height: $footer-height;
  bottom: 0;
  width: 100%;
}

body {
  color: $primary-text-color;
  background: $primary-color; /* fallback for old browsers */
  background: linear-gradient(to left, $primary-color, $secondary-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
  color: $accent-text-color;
  &.page-heading {
    font-size: 1.5em;
  }
}

.text-centered, .text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justified {
  text-align: justify;
}

a {
  color: $link-color;
  &:hover, &:focus {
    color: $hover-link-color;
  }
  &:active, &:visited {
    color: $active-link-color;
  }
}

.container {
  @include span-columns(12);
}
