.icon-so {
  display: inline-block;
  .icon-img {
    height: 16px;
    width: 16px;
    background-size: cover;
    background-image: url('/images/icon-so.png');
  }
}

.site-footer {
  position: fixed;
  bottom: 1em;
  width: 100%;
  border-top: solid 1px $transparent-white;
  padding: 1em 1em 0;
  section {
    &.footer-col {
      padding: 0 1em;
      text-align: center;
      @include span-columns(12);
      @include media ($large-screen) {
        @include span-columns(3);
        &:first-child {
          text-align: left;
        }
        &:last-child {
          text-align: right;
        }
      }
    }
  }
}
