.billboard {
  margin-bottom: 2em;
  @include span-columns(12);
  @include omega();
  .author-name,
  .big-news {
    font-size: 4em;
    margin-bottom: 0.25em;
  }
  .headline {
    font-size: 2em;
    margin-bottom: 0.25em;
  }
}

.blog-preview {
  @include span-columns(12);
  @include media($large-screen) {
    @include span-columns(6);
  }
}
