// Colors
$white: #fff;
$dark-gray: #333;
$transparent-white: transparentize($white, 0.3);

// Color Scheme
$primary-color: #283048;
$secondary-color: #859398;
$tertiary-color: #d3d3d3;

// Text
$primary-text-color: $tertiary-color;
$accent-color: lighten($primary-text-color, 15%);
$accent-text-color: lighten($primary-text-color, 15%);

$secondary-text-color: lighten($primary-color, 15%);

// Link colors
$link-color: $accent-text-color;
$hover-link-color: transparentize($link-color, 0.2);
$active-link-color: transparentize($link-color, 0.4);

// Screen sizes
$large-screen: 53.75em !default;
$mobile: 30em !default;
$tablet: 48em !default;

$footer-height: 40px;

// Cards
$card-header-background-color: darken($accent-color, 15%);
